@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", serif;
  overflow-x: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}

/* Header start */

.site-header {
  position: relative;
  padding-block: 20px;
  background-color: #282829;
  color: #FFF;
  font-size: 22px;
  line-height: 28px;
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.js-btn {
  border: none;
  background-color: transparent;
  display: none;
}

.sitenav__list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.sitenav__item {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.78px;
  color: #FFFFFF;
}

.sitenav-item__link {
  color: #FFFFFF;
  text-decoration: none;
}

.sitenav-item__link:hover {
  color: #F78B3B;
}

.sitenav-item__link:active {
  color: #F78B3BCC;
}

.open .sitenav {
  display: block;
}


/* Header end */
/* Main start */

/* hero start */

.hero {
  background-image: url("/imgs/beautiful-emerald-lake-yoho-national-park-british-columbia-canada_131985-177\ 1.png");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 420px;
  background-position: center;
  /* background-size: cover; */
}

.hero__wrapper {
  margin-top: 114px;
  padding-top: 117px;
}

.hero__tittle {
  margin-block: 0;
  margin: 0 auto;
  font-family: "Inter", serif;
  font-weight: unset;
  max-width: 743px;
  width: 100%;
  font-size: 88px;
  line-height: 93px;
  color: #FFFFFF;
  text-align: center;
}


/* hero end */
/* card start */

.card__wrapper {
  display: flex;
  margin-top: 114px;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block: 0;
  padding-left: 0;
  column-gap: 30px;
}

.card__item {
  max-width: 393px;
  width: 100%;
}

.card__tittle {
  font-weight: 600;
  margin-block: 30px 0;
  font-size: 28px;
  line-height: 33.89px;
  color: #000000;
  text-align: center;
}


.card__text {
  max-width: 393px;
  width: 100%;
  font-weight: 400;
  margin-block: 10px 60px;
  font-size: 14px;
  line-height: 23px;
  color: #000000;
  text-align: justify;
}

/* card end */
/* about start */

.about__wrapper {
  margin-top: 75px;

  img {
    max-width: 100%;
  }
}

.text__wrapper {
  margin-top: 43px;
  margin-bottom: 75px;
}

.about__time {
  margin-block: 0;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}

.about__tittle {
  margin-top: 4px;
  margin-bottom: 10px;
  font-family: "Open Sans", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #000000;
  text-align: center;
}

.about__text {
  margin-block: 0;
  font-family: "Open Sans", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #000000;
  text-align: center;
}

/* about end */
/* Main end */

/* footert start */

.footer {
  background-color: #282829;
}

.footer__wrapper {
  padding-block: 81px;
}

.footer__list {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.footer__item {
  max-width: 45px;
  width: 100%;
}

.footer__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 19.36px;
  color: #FFFFFF;
}

.footer__link:hover {
  color: #FF0000;
}

.footer__link:active {
  color: #FF0000CC;
}

.footer-icons__wrapper {
  margin: 0 auto;
  margin-block: 27px;
  max-width: 91px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.footer__text {
  margin-block: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  text-align: center;
  color: #FFFFFF;
}

/* footer end */


/* Responsive start */

@media only screen and (max-width: 768px) {
  /* Card start */
   .card__list {
    justify-content: center;
    align-items: center;
   }

   .card__img {
    max-width: 100%;
   }
   /* card end */
}

@media only screen and (max-width: 616px) {
  /* hero start */
  .hero__tittle {
    font-size: 75px;
    line-height: 88px;
  }
  /* hero end */
  /* footer start */
  .footer__list {
    flex-direction: column;
    gap: 40px;
  }

  .footer__item {
    text-align: center;
  }
  /* footer end */
}

@media only screen and (max-width: 544px) {
  /* header start */
  .js-btn {
    display: block;
    color: #FFF;
    font-size: 26px;
  }
  .sitenav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #282829;
    display: none;
  }

  .sitenav__list {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .sitenav__item {
    font-size: 22px;
    line-height: 38px;
  }

  .site-header__icons {
    display: none;
  }
  /* header end */
  /* hero start */
  .hero__wrapper {
    margin-top: 94px;
  }

  .hero__tittle {
    font-size: 58px;
    line-height: 75px;
  }
  /* hero end */
  /* card start */
  .card__text {
    text-align: center;
  }

  .card__wrapper  {
    margin-top: 94px;
  }

  .card__tittle {
    font-size: 26px;
    line-height: 31.5px;
  }

  .card__text  {
    font-size: 12px;
    line-height: 20px;
  }
  /* card end */
  /* about start */
  .about__tittle {
    font-size: 28px;
    line-height: 40px;
  }

  .about__text {
    font-size: 16px;
    line-height: 26px;
  }
  /* about end */
  /* footert start */
  .footer__wrapper {
    padding-block: 60px;
  }
  .footer__list {
    gap: 35px;
  }
  /* footer end */
}

@media only screen and (max-width: 390px) {
  /* hero start */
  .hero__tittle {
    font-size: 46px;
    line-height: 62px;
  }
  /* hero end */
}